<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> Impidió que se guarde el servicio:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Nombre", class: "input" %>
  </div>

  <br>
  <br>

  <div class="field">
    <%= form.number_field :duration, placeholder: "Duración (en minutos)", class: "input" %>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= form.submit "INGRESAR", class: 'but-login' %>
  </div>
<% end %>
