<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" height="100%" >
  <div class = "navbar2">
    <%= link_to "Atras ⮌", home_path, class: "but-back" %>
    <%= link_to "Barberos", barbers_path, class: "but-resources" %>
    <%= link_to "Dias libres", holidays_path, class: "but-resources-free" %>
    <%= link_to "Turnos", turns_path, class: "but-resources" %>
    <%= link_to "Usuarios", users_index_path, class: "but-resources" %>
    <button class = "but-resources-selected">Servicios</button>
  </div>

  <div class = "secondary-head-1">
    <br>
    <h1 class = "titles">Servicios</h1>
    <br>
  </div>

  <div class = "main-body-1">
    <table class = "index">
      <thead>
        <tr id = "cabecera">
          <th class = "vital">Name</th>
          <th class = "vital">Duration</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td class = "vital"><%= service.name %></td>
            <td class = "vital"><%= service.duration %></td>
            <td class = "vital"><%= link_to 'Editar', edit_service_path(service), class: "but-delete-b" %></td>
            <td class = "vital"><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "but-delete-u" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "tail">
            <div class = "tail-head">
                <br>
                <br>
                <br>
                <%= link_to 'Cargar Servicio', new_service_path, class: "but-delete-n" %>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class = "tail-tail">
                <br>
                <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
                <h3 class = "secondary-contact">0343 15-467-5058</h3>
                <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
                <br>
                <h3 class = "secondary-contact">2021</h3>
                <br>
            </div>
  </div>
</body>

<script>

  fondo()

  function fondo() {
    document.body.style.background="rgb(20, 12, 0)"
    document.getElementById("cabecera").style.backgroundColor = "black";
  }

  if(localStorage.getItem('theme') == 'dark'){
    document.body.style.background = "black";
    
    document.getElementById("cabecera").style.backgroundColor = 'black';

    var cols = document.getElementsByClassName('secondary-head-1');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#141414';
      cols[i].style.color = 'blanchedalmond';
    }
    var cols = document.getElementsByClassName('navbar2');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black';  
    }
    var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#212121';
      cols[i].style.color = 'white';  
    }
    var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black'; 
      cols[i].style.color = 'white'; 
    }
  }
</script>
