<meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" textalign="center">

  <div class = "navbar3">
    <%= link_to "Atras ⮌", holidays_path(barber_id: params[:barber_id]), class: "but-back" %>
  </div>

  <div class = 'alignment'>
    <div class = 'body-login'>

    <br>
    
    <h2 class = "titles-secondary">Selecciona el día</h2>

    <%= render 'form', holiday: @holiday %>

    <br>
    <br>
    <br>
    <br>

    </div>
  </div>

    <div class = "tail">
        <div class = "tail-tail">
            <br>
            <br>
            <h2 class = "titles-contact">Informacion de contacto</h2>
            <br>
        </div>

        <div class = "tail-head">
            <br>
            <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
            <h3 class = "secondary-contact">0343 15-467-5058</h3>
            <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
            <br>
        </div>
    </div>
</body>

<script>

if(localStorage.getItem('theme') == 'dark'){
  document.body.style.background = "#212121";
  var cols = document.getElementsByClassName('navbar3');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('input');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';
    cols[i].style.borderColor = 'blanchedalmond';
  }

  var cols = document.getElementsByClassName('admin_select');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#818181';
    cols[i].style.color = 'black';
  }

  var cols = document.getElementsByClassName('paragraph-f');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111111';
    cols[i].style.color = 'white';
  }
  
  var cols = document.getElementsByClassName('body-login');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.borderColor = "black" 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black'; 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';  
  }
}
  
</script>
