<meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" textalign="center">

  <div class = "navbar3">
        <%= link_to "Atras ⮌", holidays_path(barber_id: @holiday.barber_id), class: "but-back" %>
  </div>

  <div class = 'alignment'>
    <div class = 'body-login'>

    <br>
    
    <h2 class = "titles-secondary">Resumen</h2>

<br>

    <% if @holiday.permanent == 1%>
      <h4 class = "paragraph"> Día libre semanal permanente </h4>
      <h5 class = "paragraph-f">➤ <%= @holiday.formatDate(@holiday.freeday)[0] %></h5>
  
    <% else %>
      <h4 class = "paragraph"> Día libre único</h4>
      <h5 class = "paragraph-f">➤<%= @holiday.formatDate(@holiday.freeday)[0]%> <%= @holiday.freeday.strftime("%d")%> de <%= @holiday.formatDate(@holiday.freeday)[1]%></h5>
    <% end %>

    <div>
      <h4 class = "paragraph"> Barbero </h4>
      <h5 class = "paragraph-f">➤ <%= @holiday.barber.first_name %> <%= @holiday.barber.last_name %> </h5>
    </div>

    <%= link_to 'Editar', edit_holiday_path(@holiday), class: "but-delete-u" %> 
    <%= link_to "Finalizar", holidays_path(barber_id: @holiday.barber_id), class: "but-delete-s" %>

    <br>
    <br>
    <br>
    <br>

    </div>
  </div>

    <div class = "tail">
        <div class = "tail-tail">
            <br>
            <br>
            <h2 class = "titles-contact">Informacion de contacto</h2>
            <br>
        </div>

        <div class = "tail-tail">
            <br>
            <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
            <h3 class = "secondary-contact">0343 15-467-5058</h3>
            <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
            <br>
        </div>
    </div>
</body>

<script>

if(localStorage.getItem('theme') == 'dark'){
  document.body.style.background = "#212121";
  var cols = document.getElementsByClassName('navbar3');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('input');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';
    cols[i].style.borderColor = 'blanchedalmond';
  }

  var cols = document.getElementsByClassName('paragraph-f');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111111';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('paragraph-s');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111111';
    cols[i].style.color = 'white';
  }
  
  var cols = document.getElementsByClassName('body-login');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.borderColor = "black" 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black'; 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';  
  }
}
else
{
  document.body.style.background = "blanchedalmond";
  var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.borderColor = 'blanchedalmond';
  }
}
  
</script>
