<meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" textalign="center">

  <div class = "navbar3">
        <%= link_to "Atras ⮌", new_user_session_path, class: "but-back" %>
  </div>
  
  <div class = 'alignment'>
    <div class = 'body-login'>
      <br>
      <h2 class = "titles-secondary">Crea tu cuenta</h2>

      <br>

      <h3 class = "paragraph">Ingresá tus datos</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.text_field :first_name, autofocus: true, placeholder: "Nombre", required: true, class: 'input'%>
        </div>
      
        <br>
        <br>

        <div class="field">
          <%= f.text_field :last_name, placeholder: "Apellido", required: true, class: 'input' %>
        </div>

        <br>
        <br>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", required: true, class: 'input' %>
        </div>

        <br>
        <br>

        <div class="field">
          <%= f.number_field :phone_number, autofocus: true, placeholder: "Número de teléfono", required: true, class: 'input' %>
        </div>

        <br>
        <br>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña", required: true, class: 'input' %>
        </div>

        <br>
        <br>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmar contraseña", required: true, class: 'input' %>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="actions">
          <%= f.submit "REGISTRARSE", class: 'but-login' %>
        </div>

        <br>
        <br>
        <br>
        <br>

      <% end %>
    </div>
  </div>
</body>

<div class = "tail" >
        <div class = "tail-tail">
            <br>
            <br>
            <h2 class = "titles-contact">Informacion de contacto</h2>
            <br>
        </div>

        <div class = "tail-head">
            <br>
            <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
            <h3 class = "secondary-contact">0343 15-467-5058</h3>
            <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
            <br>
        </div>
    </div>