<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" height="100%" >
  <div class = "navbar2">
    <%= link_to "Atras ⮌", home_path, class: "but-back" %>
    <%= link_to "Barberos", barbers_path, class: "but-resources" %>
    <%= link_to "Dias libres", holidays_path, class: "but-resources-free" %>
    <%= link_to "Turnos", turns_path, class: "but-resources" %>
    <button class = "but-resources-selected">Usuarios</button>
    <%= link_to "Servicios", services_path, class: "but-resources" %>
  </div>

  <div class = "secondary-head-1">
    <br>
    <h1 class = "titles">Usuarios</h1>
    <div class = "filtros">
      <div class = "filtros-t">
        <h4 class = "filtros-texto">Filtros</h4>
      </div>
      <form action="/users" method="GET">
        <input class = "input" type="text" name="first_name" placeholder="Nombre" />
        <input class = "input" type="number" name="phone_number" placeholder="Número de teléfono" />
        <input class = "but-login" type="submit", value="Buscar Usuarios" />
      </form>
    </div>
    <br>
    <br>
  </div>

  <div class = "main-body-1">
    <table class = "index">
      <thead>
        <tr id = "cabecera">
          <th class = "vital">ID</th>
          <th class = "vital">Nombre</th>
          <th class = "vital">Apellido</th>
          <th class = "vital-no">Admin</th>
          <th class = "vital-no">Email</th>
          <th class = "vital-no">Telefono</th>
          <th colspan="2"></th>
        </tr>
      </thead>
 
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class = "vital"><%= user.id %><br/></td>
            <td class = "vital"><%= user.first_name %><br/></td>
            <td class = "vital"><%= user.last_name %><br/></td>
            <td class = "vital-no"><%= user.crack(user) %><br/></td>
            <td class = "vital-no"><%= user.email %><br/></td>
            <td class = "vital-no"><%= user.phone_number %><br/></td>
            <% if user.id != current_user.id %>
              <td class = "vital-no"><%= link_to 'Editar', edit_user_path(user), class: "but-delete-b" %></td>
              <td class = "dropdown">
                  <button class="but-drop">Mas▼</button>
                  <div class="dropdown-content">
                    <br>
                    <h4 class = "dropdown-title">Contacto</h4>
                    <h5 class = "dropdown-item"><%= user.email %></h5>
                    <h5 class = "dropdown-item"><%= user.phone_number %></h5>
                    <br>
                    <h4 class = "dropdown-title">Admin:</h4>
                    <h5 class = "dropdown-item"><%= user.crack(user) %></h5>
                    <br>
                    <h5 class = "dropdown-delete"><%= link_to 'Editar', edit_user_path(user), class: "but-delete-b" %></h5>
                    <h5 class = "dropdown-delete"><%= link_to "Eliminar usuario", user, method: :delete, data: { confirm: "Are you sure"}, class: "but-delete-u" %></h5>
                  </div>
              </td>
            <% end %>
            <% if user.id != current_user.id %>
              <td class = "vital-no"><%= link_to "Eliminar", user, method: :delete, data: { confirm: "Are you sure"}, class: "but-delete-u" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 
</body>

<div class = "tail">
            <div class = "tail-head">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class = "tail-tail">
                <br>
                <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
                <h3 class = "secondary-contact">0343 15-467-5058</h3>
                <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
                <br>
                <h3 class = "secondary-contact">2021</h3>
                <br>
            </div>
</div>

<script>

  fondo()

  function fondo() {
    document.body.style.background="rgb(20, 12, 0)"
    document.getElementById("cabecera").style.backgroundColor = "rgb(34, 20, 0)";
  }

  if(localStorage.getItem('theme') == 'dark'){
    document.body.style.background = "black";
    
    document.getElementById("cabecera").style.backgroundColor = 'black';

    var cols = document.getElementsByClassName('secondary-head-1');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#141414';
      cols[i].style.color = 'blanchedalmond';
    }
    var cols = document.getElementsByClassName('filtros');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#242424';
    }
    var cols = document.getElementsByClassName('navbar2');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black';  
    }
    var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#212121';
      cols[i].style.color = 'white';  
    }
    var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black'; 
      cols[i].style.color = 'white'; 
    }
  }
</script>