

      <%= form_with(model: turn) do |form| %>
        <% if turn.errors.any? %>
          <div class="error">
            <h2><%= pluralize(turn.errors.count, "error") %> Impidió que se guarde el turno:</h2>

            <ul>
              <% turn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h3 class = "paragraph">Fecha</h3>
      
        <table class = "calendar">
          <thead>
            <tr>
              <th>D</th>
              <th>L</th>
              <th>M</th>
              <th>X</th>
              <th>J</th>
              <th>V</th>
              <th>S</th>
            </tr>
          </thead>

          <tbody>
            
            <tr>

              <% totalcont = 0%>
              <% cont = Date.today.strftime("%u").to_i%>

              <% case cont %>
              <% when 1%>
                <td colspan = '2' ></td>
              <% when 2%>
                <td colspan = '3' ></td>
              <% when 3%>
                <td colspan = '4' ></td>
              <% when 4%>
                <td colspan = '5' ></td>
              <% when 5%>
                <td colspan = '6' ></td>
              <% when 6%>
                <td colspan = '7' ></td>
              <% when 7%>
                <td colspan = '1' ></td>
              <% else %>

              <% end %>

              <% @days.each do |moment| %>
              <td>
                <%totalcont = totalcont + 1%>
                <div class="radio-toolbar">
                    <%= form.radio_button :time, moment%> 
                    <%= form.label :time, moment.strftime("%d"), :value => moment %>
                </div>
              </td>

                <% if moment.strftime("%a") == "Sat" %>
                  <%break%>
                <% end %>
                
              <% end %>
            </tr>

            <tr>

              <% secondrowcont = 0 %>

              <% @days.each do |moment| %>
                <%if totalcont <= secondrowcont%>
                  <td>
                    <div class="radio-toolbar">
                        <%= form.radio_button :time, moment%> 
                        <%= form.label :time, moment.strftime("%d"), :value => moment %>
                    </div>
                  </td>

                  <% if moment.strftime("%a") == "Sat" %>
                    <%break%>
                  <% end %>
                <% end %>

                <% secondrowcont = secondrowcont + 1 %>

              <% end %>
            </tr>

            <% totalcont = totalcont + secondrowcont %>

            <tr>

              <% thirdrowcont = 1 %>

              <% @days.each do |moment| %>
                <%if totalcont <= thirdrowcont%>
                  <td>
                    <div class="radio-toolbar">
                        <%= form.radio_button :time, moment%> 
                        <%= form.label :time, moment.strftime("%d"), :value => moment %>
                    </div>
                  </td>

                  <% if moment.strftime("%a") == "Sat" %>
                    <%break%>
                  <% end %>
                <% end %>

                <% thirdrowcont = thirdrowcont + 1 %>

              <% end %>
            </tr>
          </tbody>
        </table>

        

        <br>
        <br>

        
        <div class="field" style="display: none;">
          <h3 class = "paragraph">Barbero</h3>
          <%= form.select(:barber_id, Barber.where(:id => params[:barber_id]).collect {|p| [ p.first_name, p.id ]}, :selected => p)%>
        </div>
        

        <div class="field">
          <h3 class = "paragraph">Servicios</h3>
          <div class="paragraph-f">
            <br>
            <%= form.collection_check_boxes(:service_ids, Service.all, :id, :name, {}, {multiple: true}) do |ds| %>
                    <%= ds.label(class:"container") do %>
                      &nbsp;&nbsp;&nbsp;<%= ds.check_box %>
                      <%= ds.object.name %>
                      <span class="chekmark"></span>
                      <br>
                      <br>
                    <% end %>
            <% end %>
          </div>
        </div>

        <div class="field" >
            <% if current_user.admin == 1 %>
              <h3 class = "paragraph">Cliente</h3>
              <%= form.text_field :client, class: "input" %>
            <% else %>
              <a style="display: none;"><%= form.text_field :client, value:(current_user.first_name + " " + current_user.last_name), class: "input"  %></a>
            <% end %>
        </div>

        <div class="field" style="display: none;">
          <%= form.label :edit %>
          <%= form.number_field :edit, :value => 1 %>
        </div>

        <br>
        <br>
        <br>

        <div class="actions">
          <%= form.submit "INGRESAR", class: 'but-login' %>
        </div>
      <% end %>
    
