

      <%= form_with(model: turn) do |form| %>
        <% if turn.errors.any? %>
          <div class="error">
            <h2><%= pluralize(turn.errors.count, "error") %> Impidió que se guarde el turno:</h2>

            <ul>
              <% turn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h3 class = "paragraph">Fecha</h3>
      
        <div class = "calendar-container">
          <table class = "calendar">
            <thead>
              <tr id = "cabecera">
                <th>D</th>
                <th>L</th>
                <th>M</th>
                <th>X</th>
                <th>J</th>
                <th>V</th>
                <th>S</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!-- Primera fila -->
                <% todayyy = Date.today.strftime("%w").to_i%>
                <% daycount = 0%>

                <% case todayyy
                when 0%>
                  <!-- Colspan 0 no funciona en Chrome -->
                <% when 1%>
                  <td colspan = '1' ></td>
                <% when 2%>
                  <td colspan = '2' ></td>
                <% when 3%>
                  <td colspan = '3' ></td>
                <% when 4%>
                  <td colspan = '4' ></td>
                <% when 5%>
                  <td colspan = '5' ></td>
                <% when 6%>
                  <td colspan = '6' ></td>
                <% else %>
                  <td colspan = '0' ></td>
                <% end %>

                <td id = "today"><%= form.label :time, Date.today.strftime("%d") %></td>

                <% @days.each do |moment|%>
                  <% coincidence = 0%>
                  <% if todayyy == 6%>
                    <%break%>
                  <% end%>
                  <% @weekends.each do |holiday|%>
                    <% if moment.strftime("%d") == holiday.strftime("%d")%>
                      <% coincidence = 1 %>
                    <% end %>
                  <% end %> <!-- Cierre Weekends each do -->
                  <% if coincidence == 0%>
                    <td>
                      <div class="radio-toolbar">
                          <%= form.radio_button :time, moment%> 
                          <%= form.label :time, moment.strftime("%d"), :value => moment %>
                      </div>
                    </td>
                  <% else %>
                    <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                  <% end %>
                  <%daycount = daycount + 1%>
                  <% if moment.strftime("%w").to_i == 6%>
                    <%break%>
                  <% end%>
                <% end %> <!-- Cierre Days each do -->
              </tr> <!-- Cierre primera fila -->

              <tr> <!-- Segunda fila -->
                <% secondrowcount = 0 %>

                <% @days.each do |moment|%>
                  <% coincidence = 0%>
                  <% @weekends.each do |holiday|%>
                    <% if moment.strftime("%d") == holiday.strftime("%d")%>
                      <% coincidence = 1 %>
                    <% end %>
                  <% end %> <!-- Cierre Weekends each do -->
                  <% if secondrowcount >= daycount%>
                    <% if coincidence == 0%>
                      <td>
                        <div class="radio-toolbar">
                            <%= form.radio_button :time, moment%> 
                            <%= form.label :time, moment.strftime("%d"), :value => moment %>
                        </div>
                      </td>
                    <% else %>
                      <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                    <% end %>
                    <%daycount = daycount + 1%>
                    <% if moment.strftime("%w").to_i == 6%>
                      <%break%>
                    <% end%>
                  <%end%>
                  <%secondrowcount = secondrowcount + 1%>
                <% end %> <!-- Cierre Days each do -->
              </tr> <!-- Cierre segunda fila -->

              <tr> <!-- Tercera fila -->
                <% thirdrowcount = -1 %>

                <% @days.each do |moment|%>
                  <% coincidence = 0%>
                  <% @weekends.each do |holiday|%>
                    <% if moment.strftime("%d") == holiday.strftime("%d")%>
                      <% coincidence = 1 %>
                    <% end %>
                  <% end %> <!-- Cierre Weekends each do -->
                  <% if thirdrowcount >= secondrowcount%>
                    <% if coincidence == 0%>
                      <td>
                        <div class="radio-toolbar">
                            <%= form.radio_button :time, moment%> 
                            <%= form.label :time, moment.strftime("%d"), :value => moment %>
                        </div>
                      </td>
                    <% else %>
                      <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                    <% end %>
                    <%daycount = daycount + 1%>
                    <% if moment.strftime("%w").to_i == 6%>
                      <%break%>
                    <% end%>
                  <%end%>
                  <%thirdrowcount = thirdrowcount + 1%>
                <% end %> <!-- Cierre Days each do -->
              </tr> <!-- Cierre tercera fila -->
            </tbody>
          </table>
        </div>

        <% puts @weekends %>

        <br>
        <br>

        
        <div class="field" style="display: none;">
          <h3 class = "paragraph">Barbero</h3>
          <%= form.select(:barber_id, Barber.where(:id => params[:barber_id]).collect {|p| [ p.first_name, p.id ]}, :selected => p)%>
        </div>
        

        <div class="field">
          <h3 class = "paragraph">Servicios</h3>
          <div class="paragraph-f">
            <br>
            <%= form.collection_check_boxes(:service_ids, Service.joins(:barbers).where(:barbers => {:id => @turn.barber_id}), :id, :name, {}, {multiple: true}) do |ds| %>
                    <%= ds.label(class:"container") do %>
                      &nbsp;&nbsp;&nbsp; 
                      <p><%= ds.check_box %><%= ds.object.name %>: <%= ds.object.duration %> minutos</p>
                      <span class="chekmark"></span>
                      <br>
                      <br>
                    <% end %>
            <% end %>
          </div>
        </div>

        <div class="field" >
            <% if current_user.admin == 1 %>
              <h3 class = "paragraph">Cliente</h3>
              <%= form.text_field :client, class: "input" %>
            <% else %>
              <a style="display: none;"><%= form.text_field :client, value:(current_user.first_name + " " + current_user.last_name), class: "input"  %></a>
            <% end %>
        </div>

        <div class="field" style="display: none;">
          <%= form.label :edit %>
          <%= form.number_field :edit, :value => 1 %>
        </div>

        <br>
        <br>
        <br>

        <div class="actions">
          <%= form.submit "INGRESAR", class: 'but-login' %>
        </div>
      <% end %>
    
