

      <%= form_with(model: turn) do |form| %>
        <% if turn.errors.any? %>
          <div class="error">
            <h2><%= pluralize(turn.errors.count, "error") %> Impidió que se guarde el turno:</h2>

            <ul>
              <% turn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h3 class = "paragraph">Fecha</h3>
      
        <table class = "calendar">
          <thead>
            <tr id = "cabecera">
              <th>D</th>
              <th>L</th>
              <th>M</th>
              <th>X</th>
              <th>J</th>
              <th>V</th>
              <th>S</th>
            </tr>
          </thead>

          <tbody>
            
            <tr>

              <% totalcont = 0 %> <!-- Cuenta de cuantos días se llevan formateando -->
              <% count = Date.today.strftime("%u").to_i %> <!-- Número de día de la semana. Lunes 1...Domingo 7 -->

              <!-- Cantidad de columnas que se dejan a la izquierda, dependen de que día es. El día presente se cuenta como columna libre -->
              <% case count   
               when 1%>
                <td colspan = '1' ></td>
              <% when 2%>
                <td colspan = '2' ></td>
              <% when 3%>
                <td colspan = '3' ></td>
              <% when 4%>
                <td colspan = '4' ></td>
              <% when 5%>
                <td colspan = '5' ></td>
              <% when 6%>
                <td colspan = '6' ></td>
              <% when 7%>
                <td colspan = '7' ></td>
              <% else %>
                <td colspan = '0' ></td>
              <% end %>
              
              <td id = "today"><%= form.label :time, Date.today.strftime("%d") %></td> 


              <% @days.each do |moment| %>

                <% coincidence = 0%>

                <% @weekends.each do |weekend|%>
                  <% if moment.strftime("%d") == weekend.strftime("%d")%>
                    <% coincidence = 1 %>
                  <% end %> 
                <% end %> 

                <%totalcont = totalcont + 1%> 

                <% if coincidence == 0%>
                  <td>
                    <div class="radio-toolbar">
                        <%= form.radio_button :time, moment%> 
                        <%= form.label :time, moment.strftime("%d"), :value => moment %>
                    </div>
                  </td>
                <% else %>
                  <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                <% end %>
                
                <% if moment.strftime("%a") == "Sat" %> <!-- Si el día anteriormente formateado es sábado, se corta el recorrido de DAYS para empezar con la siguiente semana-->
                  <%break%>
                <% end %>
              <% end %>
            </tr>

            <tr> <!-- NUEVA FILA/SEMANA -->

              <% secondrowcont = 0 %> <!-- Lleva la cuenta de los días que se formatean en la segunda semana -->

              <% @days.each do |moment| %> <!-- Recorremos DAYS, los días posibles para asignar turnos -->
                
                <% coincidence = 0%>
                
                <% @weekends.each do |weekend|%>
                  <% if moment.strftime("%d") == weekend.strftime("%d")%>
                    <% coincidence = 1 %>
                  <% end %> 
                <% end %>

                <% secondrowcont = secondrowcont + 1 %> <!-- Aumentamos el contador se cumpla o no el IF, para llevar la cuenta de cuantos días
                                                        se formatean en la segunda semana -->
                <%if totalcont < secondrowcont%> <!-- Mientras secondrowcont sea menor a totalcont, no formatear días y auemntar el contador.
                                                  De no ser así, estaríamos formateando días repetidos -->
                  <% if coincidence == 0%>
                    <td>
                      <div class="radio-toolbar">
                          <%= form.radio_button :time, moment%> 
                          <%= form.label :time, moment.strftime("%d"), :value => moment %>
                      </div>
                    </td>
                  <% else %>
                    <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                  <% end %>

                  <% if moment.strftime("%a") == "Sat" %> <!-- Si el día formateado es sábado, cortar el ciclo para pasar a la tercera semana -->
                    <%break%>
                  <% end %>
                <% end %>

                

              <% end %>
            </tr>

            <% totalcont = totalcont + secondrowcont %> <!-- Actualizamos totalcont para indicar la caontidad de días formateados del total -->

            <tr>

              <% thirdrowcont = 0 %> <!-- Arrancamos el contador para la tercera fila o semana -->

              <% @days.each do |moment| %>

                <% coincidence = 0%>

                <% @weekends.each do |weekend|%>
                  <% if moment.strftime("%d") == weekend.strftime("%d")%>
                    <% coincidence = 1 %>
                  <% end %> 
                <% end %> 

                <% thirdrowcont = thirdrowcont + 1 %> <!-- Aumentamos el contador se cumpla o no el IF, para llevar la cuenta de cuantos días
                                                        se formatean en la tercera semana -->

                <%if totalcont <= thirdrowcont%> <!-- Mientras no se hayan terminado de recorrer todos los días ya formateados, no
                                                formatear ningpun día para no tener repetidos -->
                  <% if coincidence == 0%>
                    <td>
                      <div class="radio-toolbar">
                        <%= form.radio_button :time, moment%> 
                        <%= form.label :time, moment.strftime("%d"), :value => moment %>
                      </div>
                    </td>
                  <% else %>
                    <td class = "disabled"><%= form.label :time, moment.strftime("%d") %></td>
                  <% end %>

                  <% if moment.strftime("%a") == "Sat" %> <!-- Si el último día formateado es sábado, acá termina la semana -->
                    <%break%>
                  <% end %>
                <% end %>

              <% end %>
            </tr>
          </tbody>
        </table>

        <br>
        <br>

        
        <div class="field" style="display: none;">
          <h3 class = "paragraph">Barbero</h3>
          <%= form.select(:barber_id, Barber.where(:id => params[:barber_id]).collect {|p| [ p.first_name, p.id ]}, :selected => p)%>
        </div>
        

        <div class="field">
          <h3 class = "paragraph">Servicios</h3>
          <div class="paragraph-f">
            <br>
            <%= form.collection_check_boxes(:service_ids, Service.all, :id, :name, {}, {multiple: true}) do |ds| %>
                    <%= ds.label(class:"container") do %>
                      &nbsp;&nbsp;&nbsp;<%= ds.check_box %>
                      <%= ds.object.name %>
                      <span class="chekmark"></span>
                      <br>
                      <br>
                    <% end %>
            <% end %>
          </div>
        </div>

        <div class="field" >
            <% if current_user.admin == 1 %>
              <h3 class = "paragraph">Cliente</h3>
              <%= form.text_field :client, class: "input" %>
            <% else %>
              <a style="display: none;"><%= form.text_field :client, value:(current_user.first_name + " " + current_user.last_name), class: "input"  %></a>
            <% end %>
        </div>

        <div class="field" style="display: none;">
          <%= form.label :edit %>
          <%= form.number_field :edit, :value => 1 %>
        </div>

        <br>
        <br>
        <br>

        <div class="actions">
          <%= form.submit "INGRESAR", class: 'but-login' %>
        </div>
      <% end %>
    
