  <%= form_with(model: turn) do |form| %>
    <% if turn.errors.any? %>
      <div id="error">
        <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

        <ul>
          <% turn.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <h3 class = "paragraph"> Los siguientes campos estan incompletos: </h3>
  <% if turn.time.year == 2000 %>
    <h3 class = "paragraph">▸ Fecha</h3>
  <% end %>
  <% if turn.client.blank? %>
    <h3 class = "paragraph">▸ Cliente</h3>
  <% end %>
  <% if turn.services.blank? %>
    <h3 class = "paragraph">▸ Servicios</h3>
  <% end %>

  <% Turn.posibles(@occupied, @times, @turn.time, @turn.count_hours, @turn) %>
  <div class="field" style="display: none;">
    <%= form.select(:time, @times.map { |t| t.strftime("%Y-%d-%m %H:%M")}, {:selected => Date.new(2000,1,1)},{ :class => 'admin_select' })%>
  </div>

  <% @turn.time = Date.new(2000,1,1)%>  

  <br>
  <br>
  <br>

  <%= link_to "Volver", edit_turn_path(turn), class: "but-login" %>

    <div class="actions", style="display: none">
      <%= form.submit "FINALIZAR", class: 'but-login' %>
    </div>
<% end %>