  <%= form_with(model: turn) do |form| %>
    <% if turn.errors.any? %>
      <div id="error">
        <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

        <ul>
          <% turn.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    
   
    <div class="radio-toolbar">
      <h3 class = "paragraph">Elija su horario</h3>
        <% disabledcounter = 0 %>
        <% Turn.posibles(@occupied, @times, @turn.time) %>
        <% @times.each do |moment| %>
          <% busycounter = 0 %>
          <% @occupied.each do |busy| %>
            <% if busy[0] == moment%>
              <% busycounter = 1%>
              <% disabledcounter = busy[1] %>
            <% end %>
          <% end %>
          <% if busycounter != 0%>
            <div class = "disabled"> Hola </div>
            <% puts disabledcounter%>
          <% else %>
            <% if disabledcounter > 1%>
              <div class = "disabled"> Hola </div>
              <% disabledcounter = disabledcounter - 1%>
            <%else%>
              <%= form.radio_button :time, moment, as: :string %> 
              <%= form.label :time, moment.strftime("%H %M"), :value => moment %>
            <% end%>
          <% end%>
        <% end %>
    </div>

    <br>
    <br>
    <br>

    <div class="actions">
      <%= form.submit "INGRESAR", class: 'but-login' %>
    </div>
<% end %>