  <%= form_with(model: turn) do |form| %>
    <% if turn.errors.any? %>
      <div id="error">
        <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

        <ul>
          <% turn.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <h3 class = "paragraph"> No eligio fecha o servicios, el turno se descartará </h3>

  <% Turn.posibles(@occupied, @times, @turn.time, @turn.count_hours, @turn) %>
  <div class="field" style="display: none;">
    <%= form.select(:time, @times.map { |t| t.strftime("%Y-%d-%m %H:%M")}, {:selected => Date.new(2000,1,1)},{ :class => 'admin_select' })%>
  </div>

  <% @turn.time = Date.new(2000,1,1)%>  

  <br>
  <br>
  <br>

    <div class="actions">
      <%= form.submit "FINALIZAR", class: 'but-login' %>
    </div>
<% end %>