<title> Turnos </title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" height="100%" >
  <div id = "sidebar">
        <button class="but-cross" onclick="closeNav()">❮</button>
        <br>
        <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "but-sidebar-r" %>
        <br>
        <%= link_to "❮ Atras", home_path, method: :get, class: "but-sidebar" %>  
        <br>
        <%= link_to "Barberos", barbers_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Dias libres", holidays_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Horarios libres", freetimes_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Turnos", "#", class: "but-sidebar-selected" %>
        <br>
        <%= link_to "Usuarios", users_index_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Servicios", services_path, class: "but-sidebar" %>
        <br>
        <br>
        <br>
        <br>
    </div>
  <div class = "navbar2">
    <%= link_to "❮ Atras", home_path, class: "but-back" %>
    <button class="but-resources-mobile" onclick="openNav()">≡ &nbsp;Menu</button>
    <button class="but-resources" onclick="openNavDesk()">❯ &nbsp;Menu</button>
  </div>

  <div class = "secondary-head-1">
    <br>
    <h1 class = "titles">Turnos</h1>
    
    <h3 class = "error"><%= flash[:notice] %></h3>

    <div class = "filtros-turno">
      <div class = "filtros-t">
        <h4 class = "filtros-texto">Filtros</h4>
      </div>
      <div class = "filtros-col">
        <form action="/turns" method="GET">
          <input class = "input" type="text" name="client" placeholder="Cliente" />  
          <input class = "but-login" type="submit", value="🔍cliente" />
        </form>
      </div>
      <div class = "filtros-col">
        <form action="/turns" method="GET">  
          <input placeholder="Fecha" class="input" type="text" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')" name = "selecteday">
          <input class = "but-login" type="submit", value="🔍día" />
        </form>
      </div>
      <div class = "filtros-col">
        <form action="/turns" method="GET">  
          <select class = "input-esp" name="barber_id">  
            <option disabled selected value> Elegir... </option> 
              <% Barber.all.each_with_index do | t, index | %>
              <option value="<%= t.id %>" <% t.id.to_s == @barber_id ? "selected" : "" %>> <%= t.first_name%> </option>
            <% end -%>
          </select>
          <input class = "but-login" type="submit", value="🔍barbero" />
        </form>
      </div>
      <div class = "filtros-col">
        <form action="/turns" method="GET">  
          <input placeholder="Fecha desde" class="input" type="text" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')" name = "from">
          <input placeholder="Fecha hasta" class="input" type="text" onfocus="(this.type='date')" onblur="(this.value == '' ? this.type='text' : this.type='date')" name = "to">
          <input class = "but-login" type="submit", value="🔍rango" />
        </form>
      </div>
      <br>
    </div>
    <br>
      <%= link_to 'Cargar turno', new_turn_path, class: "but-delete-n" %>
    <br>
    <br>
    <br>
  </div>

<div class = "main-body-1">
  <table class = "index" >
    <thead>
      <tr id = "cabecera" >
        <th class = "vital">Horario</th>
        <th class = "vital">Cliente</th>
        <th class = "vital-no">Barbero</th>
        <th class = "vital-no">Duracion de turno</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <% @turns.sort_by(&:time) %>
 
    <tbody style = "text-align: center" >
      <% @turns.reverse_each do |turn| %>
        <tr>
        <% if turn.time %>
          <td class = "vital"><%= turn.formatDate(turn.time)[0] %> <%=turn.time.strftime("%-d") %> de <%= turn.formatDate(turn.time)[1] %>, <%= turn.time.strftime("%H:%M")%>hs</td>
        <% else %>
          <td class = "vital"> Indefinido </td>
        <% end %>
          <td class = "vital"><%= turn.client %></td>
          <td class = "vital-no"><%= turn.barber.first_name %></td>
          <td class = "vital-no"><%= turn.count_hours %> minutos</td>
          <td class = "dropdown">
            <button class="but-drop">Mas▼</button>
            <div class="dropdown-content">
              <h5 class = "dropdown-item">Barbero: <%= turn.barber.first_name %></h5>
              <h5 class = "dropdown-item">Duración: <%= turn.count_hours %> minutos</h5>
              <h5 class = "dropdown-delete"><%= link_to 'Editar turno', edit_turn_path(turn), class: "but-delete-s" %></h5>
              <h5 class = "dropdown-delete"><%= link_to "Eliminar turno", turn, method: :delete, data: { confirm: "Are you sure"}, class: "but-delete-u" %></h5>
              <h5 class = "dropdown-delete"><%= link_to 'Mostrar', turns_path(turn, :ad => 1), class: "but-delete-b" %></h5>
            </div>
          </td>
          <td class = "vital-no"><%= link_to 'Mostrar', turn, class: "but-delete-s" %></td>
          <td class = "vital-no"><%= link_to 'Editar', edit_turn_path(turn), class: "but-delete-b" %></td>
          <td class = "vital-no"><%= link_to 'Eliminar', turn, method: :delete, data: { confirm: 'Are you sure?' }, class: "but-delete-u" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class = "tail">
            <div class = "tail-head">
                <br>
                <br>
                <br>
                <%= link_to 'Cargar turno', new_turn_path, class: "but-delete-n" %>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class = "tail-tail">
                <div class = "col-img">
                  <br>
                  <h3 class = "secondary-contact">Charme Barbershop®</h3>
                  <br>
                </div>
            </div>
  </div>
</body>

<script>

  fondo()

  function fondo() {
    document.body.style.background="rgb(20, 12, 0)"
    document.getElementById("cabecera").style.backgroundColor = "rgb(34, 20, 0)";
  }

  if(localStorage.getItem('theme') == 'dark'){
    document.body.style.background = "black";
    
    document.getElementById("cabecera").style.backgroundColor = 'black';

    var cols = document.getElementsByClassName('secondary-head-1');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#141414';
      cols[i].style.color = 'blanchedalmond';
    }
    var cols = document.getElementsByClassName('filtros-turno');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#242424';
    }
    var cols = document.getElementsByClassName('filtros-col');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'rgb(73, 73, 73)';
    }
    var cols = document.getElementsByClassName('navbar2');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black';  
    }
    var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#212121';
      cols[i].style.color = 'white';  
    }
    var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black'; 
      cols[i].style.color = 'white'; 
    }
    document.getElementById("sidebar").style.backgroundColor = 'rgb(12, 12, 12)';
  
  }

  function openNav() {
    document.getElementById("sidebar").style.width = "75%";
  }

  function openNavDesk() {
    document.getElementById("sidebar").style.width = "25%";
  }

  function closeNav() {
    document.body.style.marginLeft = "0";
    document.getElementById("sidebar").style.width = "0";
  }
</script>

