<meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" textalign="center">

  <div class = "navbar3">
        <%= link_to "Atras ⮌", home_path, class: "but-back" %>
  </div>

  <div class = 'alignment'>
    <div class = 'body-login'>

    <br>
    
    <h2 class = "titles-secondary">Resumen del Turno</h2>

    <br>

    <% invalid = 0 %>

    <% if @turn.time && @turn.time.strftime("%Y").to_s == "2000"%>
      <% invalid = 1%>
    <% end %>

    <% if @turn.count_hours == 0%>
      <% invalid = 1 %>
    <% end %>
    <% if invalid == 1%>
      <div>
        <h4 class = "paragraph"> Inválido </h4>
      </div>
    <% else %>
      <div>
        <h4 class = "paragraph"> Fecha y Hora </h4>
        <h5 class = "paragraph-f">➤ <%= @turn.formatDate(@turn.time)[0]%> <%= @turn.time.strftime("%-d") %> de <%= @turn.formatDate(@turn.time)[1]%> - <%= @turn.time.strftime("%H:%M") %> hs </h5>
      </div>

      <div>
        <h4 class = "paragraph"> Barbero </h4>
        <h5 class = "paragraph-f">➤ <%= @turn.barber.first_name %> <%= @turn.barber.last_name %> </h5>
      </div>

      <div>
        <h4 class = "paragraph"> Cliente </h4>
        <h5 class = "paragraph-f">➤ <%= @turn.client %> </h5>
      </div>

      <h4 class = "paragraph"> Servicios </h4>
      <div class = paragraph-f>
        <% @turn.services.each do |service| %>
          <h5 class = "paragraph-s">➤ <%= service.name %></h5>
        <% end %>
      </div>

      <%= link_to 'Editar', edit_turn_path(@turn), class: "but-delete-u" %> 

    <% end %>

    
    <%= link_to "Finalizar", home_path, class: "but-delete-s" %>

    <br>
    <br>
    <br>
    <br>

    </div>
  </div>

    <div class = "tail">
        <div class = "tail-tail">
            <br>
            <br>
            <h2 class = "titles-contact">Informacion de contacto</h2>
            <br>
        </div>

        <div class = "tail-head">
            <br>
            <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
            <h3 class = "secondary-contact">0343 15-467-5058</h3>
            <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
            <br>
        </div>
    </div>
</body>

<script>

if(localStorage.getItem('theme') == 'dark'){
  document.body.style.background = "black";
  var cols = document.getElementsByClassName('navbar3');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('input');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';
    cols[i].style.borderColor = 'blanchedalmond';
  }

  var cols = document.getElementsByClassName('paragraph-f');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111111';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('paragraph-s');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111111';
    cols[i].style.color = 'white';
  }
  
  var cols = document.getElementsByClassName('body-login');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.borderColor = "black" 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black'; 
    cols[i].style.color = 'white'; 
  }
  var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';  
  }
}
else
{
  document.body.style.background = "blanchedalmond";
  var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
    cols[i].style.borderColor = 'blanchedalmond';
  }
}
  
</script>
