<%= form_with(model: barber) do |form| %>
  <% if barber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barber.errors.count, "error") %> prohibited this barber from being saved:</h2>

      <ul>
        <% barber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <br>

  <div class="field">
    <%= form.text_field :first_name, placeholder: "Nombre", class: "input" %>
  </div>

  <br>
  <br>

  <div class="field">
    <%= form.text_field :last_name, placeholder: "Nombre", class: "input" %>
  </div>

  <br>
  <br>

  <div class="field">
    <h3 class = "paragraph">Servicios</h3>
      <div class="paragraph-f">
      <br>
        <%= form.collection_check_boxes(:service_ids, Service.all, :id, :name, {}, {multiple: true}) do |ds| %>
                <%= ds.label(class:"container") do %>
                  &nbsp;&nbsp;&nbsp;<%= ds.check_box %>
                  <%= ds.object.name %>
                  <span class="chekmark"></span>
                  <br>
                  <br>
                <% end %>
        <% end %>
    </div>
  </div>

  <br>

  <div class="field">
    <%= form.text_area :description, placeholder: "Descripción", class: "input" %>
  </div>

  <br>
  <br>
  <br>

  <div class="actions">
    <%= form.submit "INGRESAR", class: 'but-login' %>
  </div>
<% end %>
