<div class = "head">
    <h1 class = "titles">Home</h2>
    
    <title>Barbershop11</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</div>

<div class = "navbar">
    <%= link_to "Barberos", stylists_path, class: "but-barber" %>
    <%= link_to "Reservar Turno", new_turn_path, class: "but-reservation" %>
    <% if user_signed_in? and current_user.id == 1%>
        <%= link_to "Users", users_index_path, class: "main-but"%>
    <% end %>
</div>

<div class = "secondary-head">
    <br>
    <h1> NUESTROS SERVICIOS </h1>
    <br>
</div>

<div class = "main-body">
    <br>
    <div class = col-1>
        <h2>CORTE DE PELO</h2>     
        <br>
        <br>
    </div>

    <div class = col-2>
        <h2>CORTE DE BARBA</h2>
        <br>
        <br>
    </div>

    <div class = col-3>
        <h2>TINTURA</h2>
        <br>
        <br>
    </div>

    <div class = col-4>
        <h2>SERVICIO4</h2>
        <br>
        <br>
    </div>
    <br>
</div>