<title> Charme Barbershop </title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0"> 

    <div id = "sidebar">
        <button class="but-cross" onclick="closeNav()">❮</button>
        <br>
        <%if current_user%>
          <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "but-sidebar-r" %>
          
          <%if current_user.admin == 1 %>
            <br>
            <a id = "adminx" class="dropdown-btn" onclick="openAdmin()">Administracion ▼</a>
            <div class="dropdown-container">
              <%= link_to "Gestionar usuarios", users_index_path, class: "but-sidebar"  %>
              <br>
              <%= link_to "Gestionar barberos", barbers_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar servicios", services_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar turnos", turns_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar dias libres", holidays_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar horarios", freetimes_path, class: "but-sidebar" %>
            </div>
            <br>
            <%= link_to "Crear Turno", new_turn_path, class: "but-sidebar-r" %>
          <%else%>
            <br>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-sidebar-r" %>
          <%end%>
          <br>
          <%= link_to "Editar Datos", edit_user_registration_path, method: :get, class: "but-sidebar" %>  
        <%else%>
          <%= link_to "Iniciar Sesion", new_user_session_path, class: "but-sidebar-r" %>
          <br>
          <%= link_to "Reservar Turno", new_turn_path, class: "but-sidebar-r" %>
        <%end%>
        <br>
        <a class ="but-sidebar" href="#section1">Servicios</a>  
        <br>
        <a class ="but-sidebar" href="#section2">Barberos</a>
        <br>
        <a class ="but-sidebar" href="#div3">Nosotros</a>
        <br>
        <a id = "mode" class="but-sidebar" onclick="darkMode()">Modo oscuro</a>
        <br>
        <br>
        <br>
    </div>

    <div id = "panel">
        
        <div class = "head">
          <%= image_tag ("Charme.png"), class:"imagen-logo" %>
          <h1 class = "titles">
            <%if current_user%>
              ¡Bienvenido/a, <%=current_user.first_name%>!
            <%else%>
              Home
            <%end%>
          </h1>
          <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
          <h3 class = "secondary-contact">TEL: 0343 15-467-5058</h3>
        </div>

        
        <div id = "navbar">
            <button class="but-menu" onclick="openNav()">≡ &nbsp;Menu</button>
            <button class="but-dark-l" onclick="openNavDesk()">❯ &nbsp;Menu</button>
            <%if current_user%>
              <%= link_to "Editar Datos", edit_user_registration_path, method: :get, class: "but-nav" %>  
            <%else%>
              <%= link_to "Iniciar Sesion", new_user_session_path, class: "but-nav" %>
            <%end%>
            <a class ="but-nav" href="#div1">Barberos</a>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-reservation" %>
            <a class ="but-nav" href="#section1">Servicios</a>   
            <a class ="but-nav" href="#div3">Nosotros</a>
            <button id = "mode-desk" class="but-dark" onclick="darkMode()">❯ &nbsp;Menu</button>
        </div>

        <div id = section1 class = "secondary-head-1">
            <br>
            <h1 id = "titlepad" class ="titles"> Nuestros Servicios </h1>
            <br>
        </div>

        <div class = "main-body-1">
            
            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Corte de Pelo</h2>     
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>

            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Corte de Barba</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>

            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Tintura</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>

        </div>
        <div class = "main-body-1">
        
            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Servicio4</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>

            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Servicio5</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>

            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Servicio6</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
            </div>
        </div>

        <div id = "div1" class = "divisor" style="background-color:rgb(224, 207, 181); float:left; width:100%; text-align: center;">
            <br>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-reservation" %>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div id="section2" class = "divisor" style="background-color:blanchedalmond; float:left; width:100%">
            <br>
            <br>
        </div>

        <div class = "secondary-head-2">
            <br>
            <br>
            <h1 class = "titles"> Nuestros Barberos </h1>
            <br>
        </div>
        
        <% erwin = ""%>
        <% kevin = ""%>
        <% gero = ""%>
        <% barcount = 0%>
        <% Barber.all.each do |b| %>
          <% barcount = barcount + 1%>
          <% case barcount
              when 1%>
            <% erwin = b.description %>
          <%  when 2 %>
            <% kevin = b.description %>
          <%  when 3 %>
            <% gero = b.description %>
          <% end %>
        <% end %>

        <% puts "LOSNOMBRE DE LOS BARBER", kevin, erwin, gero%> 

        <div class = "main-body-2">
            <div class = col-2>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Erwin Fritzler</h2>
                    <br>
                    <%= image_tag ("Erwin.jpeg"), class:"imagen" %>
                    <p class = "web"><%= erwin %></p>
                    <br>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 2), class: "but-reservation" %>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
            </div>

            <div class = col-2>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Kevin Coto</h2>
                    <br>
                    <%= image_tag ("Kevin.jpeg"), class:"imagen" %>
                    <p class = "web"><%= kevin %></p>
                    <br>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 3), class: "but-reservation" %> 
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
            </div>

            <div class = col-2>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Jero</h2>
                    <br>
                    <%= image_tag ("BARBERO3.jpg"), class:"imagen" %>
                    <p class = "web"><%= gero %></p>
                    <br>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 4), class: "but-reservation" %> 
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
            </div>
        </div>

        <div id = "div3" class = "divisor" style="background-color:blanchedalmond; float:left; width:100%">
            <br>
            <br>
            <br>
        </div>

        <div class = "secondary-head-1">
            <h1 id = "x" style = "color:rgb(224, 207, 181)"> x </h1>
            <h1 class = "titles"> Nosotros </h1>
            <br>
        </div>

        <div class = "main-body-1">
          <div class = "col-3">
            <div class = image-container>
              <%= image_tag ("NOSOTROS.jpeg"), class:"imagen-we" %>
            </div>
          </div>

          <div class = "col-3">
            <p class = "we">
              Talking of Hamilton, he's set to spend at least another week stuck on 99 career pole positions. He'll have another opportunity to hit the century mark next weekend in Spain, but for now, it is all about championship gains and keeping his nose in front of his arch rival, Max Verstappen.
              He nailed his first lap in Q3 to grab provisional pole by just 0.007s from his team mate, and as the wind picked up, those two couldn't improve on their second runs, meaning P1 belonged to Bottas.
              After his worst start to a season since joining Mercedes in 2017, it was a much needed confidence boost - but can he translate pole into a race win?
              Qualifying was billed as an epic showdown between Max Verstappen and Lewis Hamilton over one lap, and with so little to choose between their cars it seemed set to be decided on driver skill.
              But overlook Valtteri Bottas at your peril, the Finn was very quick here last season and yesterday, he was right back to his best form.
            </p>
          </div>
        </div> 

        
            

    
        <div class = "tail">
            <div class = "tail-head">
                <h1 id = "y" style = "color:blanchedalmond"> x </h1>
                <h2 class = "titles-contact">Informacion de contacto</h2>
                <br>
            </div>

            <div class = "tail-tail">
                <br>
                <div class = "col-img">
                  <br>
                  <%= image_tag ("POLE.gif"), class:"imagen-we-x" %>
                </div>
                <div class = "col">
                  <br>
                  <br>
                  <h3 class = "secondary-contact">25 de mayo 1160 Puiggari</h3>
                  <h3 class = "secondary-contact">Entre Rios, Argentina</h3>
                  <br>
                  <h3 class = "secondary-contact">TEL: 0343 15-467-5058</h3>
                  <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
                  <br>
                  <h3 class = "secondary-contact">2021</h3>
                </div>
                <div class = "col-img">
                  <br>
                  <%= image_tag ("POLE.gif"), class:"imagen-we-x" %>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");
var header = document.getElementById("titlepad");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    header.style.padding = "60px 0px 0px 0px";
  } else {
    navbar.classList.remove("sticky");
    header.style.padding = "0px 0px 0px 0px";
  }

}


$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}

// When the user scrolls the page, execute myFunction

</script>



<script>

function openNav() {
    document.getElementById("sidebar").style.width = "75%";
}

function openNavDesk() {
    document.getElementById("sidebar").style.width = "25%";
}

function closeNav() {
    document.body.style.marginLeft = "0";
    document.getElementById("sidebar").style.width = "0";
}

function openAdmin() {
  var x = document.getElementById("adminx");
  if (x.innerHTML === "Administracion ▼") {
    x.innerHTML = "Administracion ▲";
  } else {
    x.innerHTML = "Administracion ▼";
  }
}

</script>

<script>

if(localStorage.getItem('theme') == 'dark'){
  darkMode();
}

function darkMode() {

  localStorage.setItem('theme', 'dark')

  //HOME PAGE

  document.getElementById("sidebar").style.backgroundColor = 'rgb(12, 12, 12)';


  document.getElementById("panel").style.backgroundColor = '#212121';

  document.getElementById("navbar").style.backgroundColor = 'black';

  var cols = document.getElementsByClassName('navbar');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('secondary-head-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('main-body-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('image-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
    cols[i].style.border = '2px solid #171717';
  }
  document.getElementById("div1").style.backgroundColor = '#141414';

  var cols = document.getElementsByClassName('col-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-4');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-4-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('secondary-head-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('main-body-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'blanchedalmond';
  }

  document.getElementById("section2").style.backgroundColor = '#212121';

  var cols = document.getElementsByClassName('col-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-6');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-7');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-14');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-15');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }

  document.getElementById("div3").style.backgroundColor = '#212121';

  document.getElementById("x").style.color = '#141414';

  document.getElementById("y").style.color = '#212121';

  var cols = document.getElementsByClassName('we');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('tail-head');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('tail-tail');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('dropdown-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#343434';
  }
  
  var cols = document.getElementsByClassName('but-dark-l');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#d9d9d9';
    cols[i].style.color = 'black';
  }

  var x = document.getElementById("mode");
  if (x.innerHTML === "Modo oscuro") {
    x.innerHTML = "Modo claro";
  } else {
    x.innerHTML = "Modo oscuro";
  }

 var x = document.getElementById("mode-desk");
  if (x.innerHTML === "Modo oscuro") {
    x.innerHTML = "Modo claro";
  } else {
    x.innerHTML = "Modo oscuro";
  }
  

  //LOGIN

  var cols = document.getElementsByClassName('navbar3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('body-login');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  
  document.getElementById( "mode" ).setAttribute( "onclick", "javascript: lightMode();" );
  document.getElementById( "mode-desk" ).setAttribute( "onclick", "javascript: lightMode();" );
}

function lightMode() {

  localStorage.setItem('theme', 'light')

  document.getElementById("sidebar").style.backgroundColor = 'rgb(22, 13, 0)';

  document.getElementById("panel").style.backgroundColor = '#blanchedalmond';

  document.getElementById("navbar").style.backgroundColor = 'rgb(70, 42, 0)';

  var cols = document.getElementsByClassName('navbar');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(70, 42, 0)';
  }

  var cols = document.getElementsByClassName('secondary-head-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('main-body-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('image-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.border = '0px solid #171717';
  }
  document.getElementById("div1").style.backgroundColor = 'rgb(224, 207, 181)';

  var cols = document.getElementsByClassName('col-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('col-3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-4-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('secondary-head-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('main-body-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }

  document.getElementById("section2").style.backgroundColor = 'blanchedalmond';

  var cols = document.getElementsByClassName('col-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('col-6');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('col-7');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }

  document.getElementById("div3").style.backgroundColor = 'blanchedalmond';

  document.getElementById("x").style.color = 'rgb(224, 207, 181)';

  document.getElementById("y").style.color = 'blanchedalmond';

  var cols = document.getElementsByClassName('we');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
    cols[i].style.color = 'black';
  }
  var cols = document.getElementsByClassName('col-14');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-15');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }

  var cols = document.getElementsByClassName('tail-head');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(20, 12, 0)';
  }

  var cols = document.getElementsByClassName('tail-tail');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.color = 'blanchedalmond';
  }

  var cols = document.getElementsByClassName('dropdown-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(0, 0, 0)';
  }

  var cols = document.getElementsByClassName('but-dark-l');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.color = 'rgb(122, 122, 122)';
  }

  var x = document.getElementById("mode");
  if (x.innerHTML === "Modo claro") {
    x.innerHTML = "Modo oscuro";
  } else {
    x.innerHTML = "Modo claro";
  }
  
  var x = document.getElementById("mode-desk");
  if (x.innerHTML === "Modo claro") {
    x.innerHTML = "Modo oscuro";
  } else {
    x.innerHTML = "Modo claro";
  }
  
    document.getElementById( "mode" ).setAttribute( "onclick", "javascript: darkMode();" );
    document.getElementById( "mode-desk" ).setAttribute( "onclick", "javascript: darkMode();" );
}



</script>



