<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>



<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0">

    <div id = "sidebar">
        <button class="but-cross" onclick="closeNav()">X</button>
        <br>
        <%if current_user%>
          <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "but-sidebar-r" %>
          
          <%if current_user.admin == 1 %>
            <br>
            <a id = "adminx" class="dropdown-btn" onclick="openAdmin()">Administracion ▼</a>
            <div class="dropdown-container">
              <%= link_to "Gestionar usuarios", users_index_path, class: "but-sidebar"  %>
              <br>
              <%= link_to "Gestionar barberos", barbers_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar servicios", services_path, class: "but-sidebar" %>
              <br>
              <%= link_to "Gestionar turnos", turns_path, class: "but-sidebar" %>
            </div>
            <br>
            <%= link_to "Crear Turno", new_turn_path, class: "but-sidebar-r" %>
          <%else%>
            <br>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-sidebar-r" %>
          <%end%>
          <br>
          <%= link_to "Editar Datos", edit_user_registration_path, method: :get, class: "but-sidebar" %>  
        <%else%>
          <%= link_to "Iniciar Sesion", new_user_session_path, class: "but-sidebar-r" %>
          <br>
          <%= link_to "Reservar Turno", new_turn_path, class: "but-sidebar-r" %>
        <%end%>
        <br>
        <a class ="but-sidebar" href="#section1">Servicios</a>  
        <br>
        <a class ="but-sidebar" href="#section2">Barberos</a>
        <br>
        <a class ="but-sidebar" href="#section2">Nosotros</a>
        <br>
        <a id = "mode" class="but-sidebar" onclick="darkMode()">Modo oscuro ☀</a>
        <br>
        <br>
        <br>
    </div>

    <div id = "panel">
        
        <div class = "head">

          <h1 class = "titles">
            <%if current_user%>
              ¡Bienvenido <%=current_user.first_name%>!
            <%else%>
              Home
            <%end%>
          </h1>
          <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
          <h3 class = "secondary-contact">TEL. 0343 15-467-5058</h3>
        </div>

        <div class = "navbar">
            <button class="but-menu" onclick="openNav()">≡ &nbsp;Menu</button>
            <button class="but-dark-l" onclick="openNavDesk()">❯ &nbsp;Menu</button>
            <%if current_user%>
              <%= link_to "Editar Datos", edit_user_registration_path, method: :get, class: "but-nav" %>  
            <%else%>
              <%= link_to "Iniciar Sesion", new_user_session_path, class: "but-nav" %>
            <%end%>
            <a class ="but-nav" href="#section2">Barberos</a>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-reservation" %>
            <a class ="but-nav" href="#section1">Servicios</a>   
            <a class ="but-nav" href="#section2">Nosotros</a>
            <button id = "mode-desk" class="but-dark" onclick="darkMode()">❯ &nbsp;Menu</button>
        </div>

        <div id = section1 class = "secondary-head-1">
            <br>
            <h1 class ="titles"> Nuestros Servicios </h1>
            <br>
        </div>

        <div class = "main-body-1">
            
            <div class = col-1>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Corte de Pelo</h2>     
                    <br>
                    <%= image_tag ("SERVICIO1.jpeg"), class:"imagen" %>
                </div>
                <br>
                <br>
            </div>

            <div class = col-2>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Corte de Barba</h2>
                    <br>
                    <%= image_tag ("SERVICIO2.jpeg"), class:"imagen" %>
                </div>
                <br>
                <br>
            </div>

            <div class = col-3>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Tintura</h2>
                    <br>
                    <%= image_tag ("SERVICIO3.jpeg"), class:"imagen" %>
                </div>
                <br>
                <br>
            </div>

            <div class = col-4>
                <br>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-third">Servicio4</h2>
                    <br>
                    <%= image_tag ("SERVICIO4.jpeg"), class:"imagen" %>
                </div>
                <br>
                <br>
            </div>
        </div>

        <div id = "div1" class = "divisor" style="background-color:rgb(224, 207, 181); float:left; width:100%; text-align: center;">
            <br>
            <%= link_to "Reservar Turno", new_turn_path, class: "but-reservation" %>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div id="section2" class = "divisor" style="background-color:blanchedalmond; float:left; width:100%">
            <br>
            <br>
        </div>

        <div class = "secondary-head-2">
            <br>
            <br>
            <h1 class = "titles"> Nuestros Barberos </h1>
            <br>
        </div> 

        <div class = "main-body-2">
            <div class = col-5>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Erwin Fritzler</h2>
                    <br>
                    <%= image_tag ("Erwin.jpeg"), class:"imagen" %>
                    <p>Descripción y foto</p>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 2), class: "but-reservation" %>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
            </div>

            <div class = col-6>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Kevin Coto</h2>
                    <br>
                    <%= image_tag ("Kevin.jpeg"), class:"imagen" %>
                    <p>Descripción y foto</p>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 3), class: "but-reservation" %> 
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
            </div>

            <div class = col-7>
                <div class = image-container>
                    <br>
                    <h2 class = "titles-secondary">Barbero 3</h2>
                    <br>
                    <%= image_tag ("BARBERO3.png"), class:"imagen" %>
                    <p>Descripción y foto</p>
                    <%= link_to "Reservar turno", new_turn_path(:barber_id => 4), class: "but-reservation" %> 
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div id = "div3" class = "divisor" style="background-color:blanchedalmond; float:left; width:100%">
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    
        <div class = "tail">
            <div class = "tail-head">
                <br>
                <br>
                <h2 class = "titles-contact">Informacion de contacto</h2>
                <br>
            </div>

            <div class = "tail-tail">
                <br>
                <h3 class = "secondary-contact">25 de mayo 1160 Puiggari, Entre Rios, Argentina</h3>
                <h3 class = "secondary-contact">0343 15-467-5058</h3>
                <h3 class = "secondary-contact">ayelenpeter@hotmail.com.ar</h3>
                <br>
                <h3 class = "secondary-contact">2021</h3>
                <br>
            </div>
        </div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

<script>
function openNav() {
    document.getElementById("sidebar").style.width = "75%";
}

function openNavDesk() {
    document.getElementById("sidebar").style.width = "25%";
}

function closeNav() {
    document.body.style.marginLeft = "0";
    document.getElementById("sidebar").style.width = "0";
}

function openAdmin() {
  var x = document.getElementById("adminx");
  if (x.innerHTML === "Administracion ▼") {
    x.innerHTML = "Administracion ▲";
  } else {
    x.innerHTML = "Administracion ▼";
  }
}

</script>

<script>

if(localStorage.getItem('theme') == 'dark'){
  darkMode();
}

function darkMode() {

  localStorage.setItem('theme', 'dark')

  //HOME PAGE

  document.getElementById("sidebar").style.backgroundColor = 'rgb(12, 12, 12)';

   var cols = document.getElementsByClassName('but-cross');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  document.getElementById("panel").style.backgroundColor = '#212121';

  var cols = document.getElementsByClassName('navbar');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('secondary-head-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('main-body-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('image-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
    cols[i].style.border = '2px solid #171717';
  }
  document.getElementById("div1").style.backgroundColor = '#141414';

  var cols = document.getElementsByClassName('col-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('col-4');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#141414';
  }
  var cols = document.getElementsByClassName('secondary-head-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('main-body-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'blanchedalmond';
  }

  document.getElementById("section2").style.backgroundColor = '#212121';

  var cols = document.getElementsByClassName('col-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-6');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }
  var cols = document.getElementsByClassName('col-7');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
  }

  document.getElementById("div3").style.backgroundColor = '#212121';

  var cols = document.getElementsByClassName('tail-head');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#212121';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('tail-tail');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
    cols[i].style.color = 'white';
  }

  var cols = document.getElementsByClassName('dropdown-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#343434';
  }
  
  var cols = document.getElementsByClassName('but-dark-l');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#d9d9d9';
    cols[i].style.color = 'black';
  }

  var x = document.getElementById("mode");
  if (x.innerHTML === "Modo oscuro ☀") {
    x.innerHTML = "Modo claro ☀";
  } else {
    x.innerHTML = "Modo oscuro ☀";
  }

 var x = document.getElementById("mode-desk");
  if (x.innerHTML === "Modo oscuro ☀") {
    x.innerHTML = "Modo claro ☀";
  } else {
    x.innerHTML = "Modo oscuro ☀";
  }
  

  //LOGIN

  var cols = document.getElementsByClassName('navbar3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  var cols = document.getElementsByClassName('body-login');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'black';
  }
  
  document.getElementById( "mode" ).setAttribute( "onclick", "javascript: lightMode();" );
  document.getElementById( "mode-desk" ).setAttribute( "onclick", "javascript: lightMode();" );
}

function lightMode() {

  localStorage.setItem('theme', 'light')

  document.getElementById("sidebar").style.backgroundColor = 'rgb(39, 23, 0)';

   var cols = document.getElementsByClassName('but-cross');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = '#111';
  }
  document.getElementById("panel").style.backgroundColor = '#blanchedalmond';

  var cols = document.getElementsByClassName('navbar');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(70, 42, 0)';
  }
  var cols = document.getElementsByClassName('secondary-head-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('main-body-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('image-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.border = '0px solid #171717';
  }
  document.getElementById("div1").style.backgroundColor = 'rgb(224, 207, 181)';

  var cols = document.getElementsByClassName('col-1');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-3');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('col-4');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(224, 207, 181)';
  }
  var cols = document.getElementsByClassName('secondary-head-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }
  var cols = document.getElementsByClassName('main-body-2');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(34, 20, 0)';
  }

  document.getElementById("section2").style.backgroundColor = 'blanchedalmond';

  var cols = document.getElementsByClassName('col-5');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('col-6');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }
  var cols = document.getElementsByClassName('col-7');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
  }

  document.getElementById("div3").style.backgroundColor = 'blanchedalmond';

  var cols = document.getElementsByClassName('tail-head');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'blanchedalmond';
    cols[i].style.color = 'rgb(20, 12, 0)';
  }

  var cols = document.getElementsByClassName('tail-tail');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.color = 'blanchedalmond';
  }

  var cols = document.getElementsByClassName('dropdown-container');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
  }

  var cols = document.getElementsByClassName('but-dark-l');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.backgroundColor = 'rgb(20, 12, 0)';
    cols[i].style.color = 'rgb(122, 122, 122)';
  }

  var x = document.getElementById("mode");
  if (x.innerHTML === "Modo claro ☀") {
    x.innerHTML = "Modo oscuro ☀";
  } else {
    x.innerHTML = "Modo claro ☀";
  }
  
  var x = document.getElementById("mode-desk");
  if (x.innerHTML === "Modo claro ☀") {
    x.innerHTML = "Modo oscuro ☀";
  } else {
    x.innerHTML = "Modo claro ☀";
  }
  
    document.getElementById( "mode" ).setAttribute( "onclick", "javascript: darkMode();" );
    document.getElementById( "mode-desk" ).setAttribute( "onclick", "javascript: darkMode();" );
}



</script>



