<title> Horarios </title>

<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" rightmargin="0" height="100%" >
  <div id = "sidebar">
        <button class="but-cross" onclick="closeNav()">X</button>
        <br>
        <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "but-sidebar-r" %>
        <br>
        <%= link_to "❮ Atras", home_path, method: :get, class: "but-sidebar" %>  
        <br>
        <%= link_to "Barberos", barbers_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Dias libres", holidays_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Horarios libres", "#", class: "but-sidebar-selected" %>
        <br>
        <%= link_to "Turnos", turns_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Usuarios", users_index_path, class: "but-sidebar" %>
        <br>
        <%= link_to "Servicios", services_path, class: "but-sidebar" %>
        <br>
        <br>
        <br>
        <br>
    </div>
  <div class = "navbar2">
    <%= link_to "❮ Atras", home_path, class: "but-back" %>
    <button class="but-resources-mobile" onclick="openNav()">≡ &nbsp;Menu</button>
    <button class="but-resources" onclick="openNavDesk()">❯ &nbsp;Menu</button>
  </div>

  <div class = "secondary-head-1">
    <br>
    <h1 class = "titles">Horarios libres</h1>
    <br>
  </div>

  <div class = "main-body-1">
    <table class = "index">
      <thead>
        <tr id = "cabecera">
          <th class = "vital">Desde</th>
          <th class = "vital">Hasta</th>
          <th class = "vital-no">Tipo</th>
          <th class = "vital-no">Barbero</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @freetimes.each do |freetime| %>
          <tr>
            <td class = "vital"><%= freetime.from.strftime("%H:%M") %>hs</td>
            <td class = "vital"><%= freetime.to.strftime("%H:%M") %>hs</td>
            <td class = "vital-no"><%= freetime.tipazo(freetime.permanent) %></td>
            <td class = "vital-no"><%= freetime.barbername(freetime.barber_id, freetime.permanent) %></td>
            <td class = "dropdown">
                  <button class="but-drop">Mas▼</button>
                  <div class="dropdown-content">
                    <br>
                    <h5 class = "dropdown-delete"><%= link_to 'Editar horario', edit_freetime_path(freetime), class: "but-delete-b" %></h5>
                    <h5 class = "dropdown-delete"><%= link_to "Eliminar horario", freetime, method: :delete, data: { confirm: "Are you sure"}, class: "but-delete-u" %></h5>
                  </div>
            </td>
            <td class = "vital-no"><%= link_to 'Eliminar', freetime, method: :delete, data: { confirm: 'Are you sure?' }, class: "but-delete-u" %></td>
            <td class = "vital"><% Freetime.toArray(freetime.from, freetime.to) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "tail">
            <div class = "tail-head">
                <br>
                <br>
                <br>
                <%= link_to 'Cargar horario general', new_freetime_path(:barber_id => -1, :permanent => -1), class: "but-delete-n" %>
                <br>
                <br>
                <%= link_to 'Cargar cronograma de barbero', new_freetime_path(:permanent => 1), class: "but-delete-n" %>
                <br>
                <br>
                <%= link_to 'Cargar libre de barbero', new_freetime_path(:permanent => 0), class: "but-delete-n" %>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class = "tail-tail">
                <div class = "col-img">
                  <br>
                  <h3 class = "secondary-contact">Charme Barbershop®</h3>
                  <br>
                </div>
            </div>
  </div>
</body>

<script>
 
  fondo()

  function fondo() {
    document.body.style.background="rgb(20, 12, 0)"
    document.getElementById("cabecera").style.backgroundColor = "rgb(34, 20, 0)";
  }

  if(localStorage.getItem('theme') == 'dark'){
    document.body.style.background = "black";
    
    document.getElementById("cabecera").style.backgroundColor = 'black';

    var cols = document.getElementsByClassName('secondary-head-1');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#141414';
      cols[i].style.color = 'blanchedalmond';
    }
    var cols = document.getElementsByClassName('navbar2');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black';  
    }
    var cols = document.getElementsByClassName('tail-head');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = '#212121';
      cols[i].style.color = 'white';  
    }
    var cols = document.getElementsByClassName('tail-tail');
    for(i = 0; i < cols.length; i++) {
      cols[i].style.backgroundColor = 'black'; 
      cols[i].style.color = 'white'; 
    }
    document.getElementById("sidebar").style.backgroundColor = 'rgb(12, 12, 12)';
  
  }

  function openNav() {
    document.getElementById("sidebar").style.width = "75%";
  }

  function openNavDesk() {
    document.getElementById("sidebar").style.width = "25%";
  }

  function closeNav() {
    document.body.style.marginLeft = "0";
    document.getElementById("sidebar").style.width = "0";
  }
</script>
